{%extends 'base.html'%}
{% block content %}
{{ block.super}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <body>
        <div style="margin-top:30px;" class="container">
            <div clas="row">
                <div class="col-md-3 col-sm-2 col-lg-2"></div>
                <div class="col-md-3 col-xs-6 col-sm-4 col-lg-3">
                    {% for img in profile %}
                    <img src="{{img.profile_pic.url}}" class="img-circle" alt="Image"
                        style="height: 250px; width:250px;">
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6 col-lg-5">
                    <h3>{{user.username}}</h3>
                    <hr>
                    <p>{{img.bio }}</p>

                    <p>followers <strong>{{profile.followers}}</strong> following <strong>{{profile.following}}</strong>
                    </p>
                    <p class="btn btn-default"> <a style="text-decoration:none" href="">Edit
                            profile</a></p>
                    {% empty %}
                    {% endfor %}
                </div>
                <div class="col-md-3 col-sm-3 col-lg-2"></div>
            </div>
            <hr>
        </div>
        <div class="container">
            <hr>
            <h4 class="text-center">Posts</h4>
            <hr>
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {% for image in image %}
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 ">
                    <img style="margin:13px;height:200px;width:200px;" src="{{image.image.url}}" class="img-responsive"
                        alt="Image">
                </div>
                {% endfor %}

                </a>
            </div>
            <div class="col-md-2"></div>
        </div>
    </body>
    {% endblock %}

</body>

</html>