{%extends 'base.html'%}
{% load bootstrap3 %}
{% block content %}
<br><br>
<div class="container">
    <!-- {% if profile %}
    <h2>Found {{ profile|length }} of searched term {{ message }}.</h2>
    {% else %}
    <h2>Found 0 articles for the searched term {{ message }}.</h2>
    {% endif %} -->
  <div class="row">
    {% if profile %}
    {% for pro in profile %}
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <img src="{{pro.profile_pic.url}}" class="img-circle" alt="image" style="height:200px; width:200px;">
    </div>
    <div lass="col-md-6">
      <h2 style="text-align: center;font-family: 'Righteous', cursive;font-size: 60px">{{pro.name}}</h2>
      <br><br>
      {% autoescape on %}
      <p style="text-align: center; font-family: 'Iceland', cursive;font-size: 30px">{{pro.bio| safe}}</p>
      {% endautoescape %}
    </div>
    <a class="btn btn-default" href="{% url 'profile' user.id %}">Visit profile</a>
    <div class="col-md-2"></div>
    <hr>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}